<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Pius Wiatmojo. It uses data from mapbox.com and weatherstack.com.</p>
        <img id="portrait" src="/img/me.png" alt="">
    </div>

    {{>footer}}
</body>

</html>